/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');
   
/* Asterik Wildcard to override the default styling of the browser*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*General Styling*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic Styling*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/*header*/
header {
    background-color: lightcoral;
}
/*main*/
main {
    background-color: lightblue;
    /* Make main element take any surplus place to push the footer down */
    flex: 1 0 auto;
}
/*footer*/
footer {
    background-color: orange;
}